<%- include('includes/head'); %>

<%- include('includes/navbar'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-5">
      <h1 class="display-1 text-center p-5">
        Contact
      </h1>
      <p class="text-center leader" style="font-weight: 400;">Create or delete Contact</p>
      <%- include('includes/messages') %>
      <% if(contact._id) {%>
        <form action="/contact/edit/<%=contact._id%>" method="POST">
      <% } else{ %>
        <form action="/contact/register" method="POST">
      <% } %>
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" value="<%= contact.name %>">
        </div>

        <div class="mb-3">
          <label for="lastname" class="form-label">Lastname</label>
          <input type="text" class="form-control" name="lastname" value="<%= contact.lastname %>">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" value="<%= contact.email %>">
        </div>

        <div class="mb-3">
          <label for="number" class="form-label">Number</label>
          <input type="tel" class="form-control" name="number" value="<%= contact.number %>">
        </div>
        
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-info fw-bold">Create</button>
        </div>
        
      </form>
      
      
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>